@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.flex-column {
    flex-direction: column;
}

.align-items-center {
    align-items: center;
}

.text-center {
    text-align: center;
}

.h-100 {
    height: 100%;
}
.w-100 {
    width: 100%;
}

.m-0 {
    margin: 0;
}

.p-0 {
    padding: 0;
}

.black-txt {
    color: black;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.home_header {
    position: sticky;
    height: 106px;
    padding: 0 2rem;
    border-bottom: 1px solid;
    border-color: #d1dbe0;
    align-items: center;
    background-color: #fff;
    z-index: 1001;
    top: 0;
    left: 0;
    right: 0;
}

a {
    text-decoration: none;
}

.register_button {
    border-radius: 25px;
    font-size: .875rem;
    border: 1px solid #13c1ac;
    padding: 10px 20px;
    color: #13c1ac;
    transition: all .2s ease-in-out,padding 0s;
}

.register_button:hover {
    color: white;
    background-color: #13c1ac;
}

.upload_product_button {
    margin-left: 8px;
    height: 40px;
    font-size: .875rem;
    font-weight: 700;
    border-radius: 25px;
    border: 1px solid #13c1ac;
    padding: 0 20px 0 8px;
    color: white;
    background-color: #13c1ac;
    transition: all .2s ease-in-out,padding 0s;
}

.upload_product_button:hover {
    background-color: #0f9989;
    color: #13c1ac;
}

.upload_image {
    margin-right: 0.5rem;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.home_first_section {
    padding-top: 64px;
    margin-bottom: 32px;
}

.home_first_title {
    font-size: 2rem;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 40px;
}

h1, h3 {
    margin: 0;
}

.home_search_box {
    height: 48px;
    border: 1px solid #90a4ae;
    border-radius: 32px;
    overflow: hidden;
    margin-right: 16px;
}

.search_img {
    margin: 0 16px;
}

.search_input {
    padding-right: 16px;
    border: 0;
    background-color: transparent;
    font-size: 1rem;
    white-space: nowrap;
}

.search_btn {
    width: 113px;
    height: 48px;
    border: 0;
    border-radius: 51px;
    background-color: #13c1ac;
    user-select: none;
    font-weight: 700;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
}

.categories_list {
    list-style-type: none;
    padding: 0 12px;
}

.list_item_list {
    cursor: pointer;
    font-size: .875rem;
    width: 12.5%;
    flex-shrink: 0;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 1rem 0.5rem;
}

.list_item {
    cursor: pointer;
    font-size: .875rem;
    width: 12.5%;
    flex-shrink: 0;
    border-radius: 10px;
    word-wrap: break-word;
    padding: 1rem 0.5rem;
}

.second_item {
    margin-bottom: 8px;
    border-radius: 24px;
    min-width: 0;
    background-color: #eceff1;
    user-select: none;
    aspect-ratio: 10/13;
    object-fit: cover;
}

ul {
    list-style: none;
}

.item_name {
    font-size: 1rem;
    font-weight: 700;
    color: #253238;
}

.home_second_section {
    margin: 16px 0;
    gap: 32px;
}

.home_second_title {
    font-size: 2rem;
}

.footer {
    margin-top: 100px;
    padding-bottom: 32px
}

.last_footer {
    padding-left: 44px;
    padding-right: 44px;
}

.footer_container {
    width: 16%;
}

.footer_copyright {
    font-weight: 500;
    color: #607d8b;
    font-size: .75rem;
}

.footer_social_link {
    color: #90a4ae;
    margin-left: 26px;
}


@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}